.contenedor {
  background:#fff;
  padding:40px 30px 40px 10px;
  border:5px solid #6effcb;
}

.title {
  font-size:30px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:5px;
  margin:auto;
}

.desc {
  font-size:15px;
  letter-spacing:1.5px;
  text-transform:uppercase;
  text-align:justify;
  padding-top:10px;
}

.blackIcon {
  width:25px;
  height:25px;
  background:#333;
  position:relative;
}

@media (max-width: 750px) {
  .blackIcon {
    display:none;
  }
}

.colImage img {
  height:180px;
}

.img-fill_cover {
  object-fit:cover;
}

img[class] {
  width:100%;
}

.desc a {
  border-bottom:2px solid transparent;
  transition-property:border-bottom;
  transition-duration:0.5s;
}

.desc a:hover {
  text-decoration:none;
  border-bottom:2px solid red;
}

.nav a {
  color:#333;
  cursor:pointer;
  transition-property:color, font-size;
  transition-duration:0.1s;
  border-radius:15px;
  font-size:0;
}

.nav .profile a:before {
  content:url("https://orig00.deviantart.net/d6bb/f/2016/053/d/7/_sweetart__settings_by_gasara-d74yd11.gif");
  position:relative;
  top:5px;
}

.nav .render a:before {
  content:url("https://orig00.deviantart.net/4a2e/f/2016/053/2/2/_sweetart__gallery_by_gasara-d74yczw.gif");
  position:relative;
  top:5px;
}

.nav .mmd_dl a:before {
  content:url("https://orig00.deviantart.net/32b5/f/2016/053/7/2/_sweetart__profile_by_gasara-d74yd14.gif");
  position:relative;
  top:5px;
}

.nav .fav a:before {
  content:url("https://orig00.deviantart.net/1084/f/2016/053/6/a/_sweetart___fav_by_gasara-d74yd0t.gif");
  position:relative;
  top:5px;
}

.nav a:hover {
  color:#ff1d61;
  text-decoration:none;
  background:#333;
  padding:5px;
  border-radius:15px;
  font-size:12px;
}

.nav a:active {
  color:#fff;
  background:#ff1d61;
}

